[submodule "ext_tools/msgpack"]
	path = ext_tools/msgpack
	url = https://github.com/camgunz/cmp.git
[submodule "ext_tools/parson"]
	path = ext_tools/parson
	url = https://github.com/kgabis/parson.git
[submodule "bindings/python_cffi/pycparser"]
	path = bindings/python_cffi/pycparser
	url = https://github.com/eliben/pycparser.git
[submodule "site_scons/site_tools/gcccov"]
	path = site_scons/site_tools/gcccov
	url = git://github.com/ptomulik/scons-tool-gcccov.git





[submodule "ext_tools/Criterion"]
	path = ext_tools/Criterion
	url = https://github.com/Snaipe/Criterion
