*.o
*.os
*core*
bin/*
.eggs/
build/
config.log
.sconf_temp/
.sconsign.dblite
*.orig
*.log
.buildno
*.pyc
/doc/build
/doc/sphinxcontrib-cmtinc
*.tlog
/obj
*.vcxproj
*.user
/.vscode
/.cproject
/.cquery
/.project
*.key
ext_tools/*
*perf.data*
/release
